# This would be the second .gitconfig file to be put at the root of your personal workspace
[user]
    name = <your-git-handle-personal>
    # email = 

[p10khelper]
    username = <your-git-handle-personal>

[credential]
    # helper = store --file ./.git-credentials
    helper = cache --timeout 999999
