# This would be the second .gitconfig file to be put at the root of your personal workspace
[user]
    name = <your-git-handle-personal>
    email = <your-git-email-personal>

[credential]
	username = <your-git-handle-personal>


[url "git@personal.github.com:"]
	insteadOf = https://github.com/

[url "git@personal.github.com:"]
	insteadOf = git@github.com:
